.perdu-BG {

  background-image: url("../images/splash.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;

  background-position: center;


}

.perdu-contenu {


  text-align: center;

  h2 {
    font-size: rem(84);
  }

}