

@media screen and (min-width: $vw-large) {
  .affichesouvenir {
    display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    //align-items: center;

    .affiche-contenu{
      flex-direction: row;
      justify-content: space-between;
      img {
        width: 25%;
        text-align: center;
      }
    }

    h7 {
      font-size: rem(85);

    }

    p {
      font-size: rem(24);
    }

    h5{
      font-size: rem(24);
    }

  }



}