.infolettre {

  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


  h2 {
    color: $accentdeco;
    font-size: rem(38);
    text-align: center;
  }

  p {
    text-align: center;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    //width:60%;

  }

  input {
    margin-bottom: 20px;
    width: 100%;
  }

  .media {
    flex-direction: row;

  }

}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;


  h6 {
    font-family: 'Inter', sans-serif;
    font-size: $fz-footer;
    opacity: 0.2;
    text-decoration: underline;
    text-align: center;
    font-weight: 400;

  }

  p {
    font-family: 'Inter', sans-serif;
    font-size: $fz-footer;
    font-weight: 400;
    opacity: 0.2;

    text-align: center;
  }
}

.bg-logo {
  background-image: url("../images/logo-infolettre.png");
  background-repeat: no-repeat;
  //height:350px;
  background-size: contain;
  justify-content: center;

}

.application h2 {
  text-align: center;
}

.appli-image {
  margin-bottom: 0;
}

div.split {
  display: flex;
  flex-direction: row;
  width: 100%;

  margin-top: 0;
  margin-bottom: 0;

  justify-content: space-around;
  align-items: flex-end;
  //img{
  //  justify-content: end;
  //}
}

div.encart {
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h6 {
    font-size: $fz-h6;
    font-family: $ff-normal;
  }

  img {
    width: 75%;
    height: 75%;
  }
}

.infolettre-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (min-width: $vw-large) {
  .infolettre {

    //margin: 0 auto;
    display: flex;
    flex-direction: row;
    .appli-image{
      position:relative;
      top:27px;
    }

    .bg-logo {


      margin-right: 20px;
      margin-bottom: 0px;
    }

    .application {
      margin-left: 20px;
      margin-bottom: 0px;

      h2{
        margin-top: 0px;
      }

      .encart{
        margin-top:0px;
        //margin-bottom: 20px;
        justify-content: space-between;
      }
    }
  }
}
