.gallerie{
  margin:20px;

  p{
    opacity:0.3;
    text-align:center;
  }
.lesoeuvres{
  display:flex;
  flex-direction:row;
  justify-content: center;

div{
  //border:2px $accentdeco solid;

}
  img{

    width:125px;
    height:125px;

  }
}

}

@media screen and (min-width: $vw-large) {

  .gallerie{
    h1{
      margin-bottom:0px;
    }

    p{
      opacity:0.3;
      text-align:center;
    }
    .lesoeuvres{


      img{

        width:400px;
        height:400px;

      }
    }

  }


}