.header-page {
  background-color: $BG2;

  height: 100px;
  color: $color-text-normal;
  margin-bottom: 20px;

  .material-icons {
    width:40px;
    height:40px;

  }

  img {
    width: 20%;
    height: 20%;
  }

  nav div {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }


  .toggle-menu {
    display: none;
  }

  .toggle-menu:checked + ul {
    display: block;

    background-color: $color-bg-dark;
    margin-top: 0;

    display: flex;
    flex-direction: column;
    z-index: 50;

  }

  ul {

    display: none;

    list-style: none;
    padding: 0;
    width: 100%;

    text-align: center;
    position: absolute;
    z-index: 1;

    li {
      background-color: $color-bg-dark;
      //font-family: $ff-title;
      font-weight: $fw-regular;
      font-size: $fz-nav;

    }

    li a {
      text-decoration: none;

    }

    li ul {
      position: static;

      li {
        background-color: $color-bg-dark;
      }
    }

    a {
      //color:$color-text-normal;
      display: block;
      padding: 10px 10px;
    }

    li:hover {
      ul {
        display: block;
      }
    }

    nav h2 {
      margin: 0;
    }
  }

  .menu {

height:80px;
    text-align: center;

  }


  .menu a {

    color: $color-text-normal;
    text-decoration: none;

    position: relative;

    align-items: center;

  }

  .menu li {
    align-items: center;
  }

  .menu li:hover a, .menu a:hover {
    color: $BG3;

  }



  @media screen and (min-width: $vw-large) {

    .header-page {

      i {
        display: none;
      }

      nav {
        display: flex;
        justify-content: space-between;

        align-items: center;
        align-content: center;

        div {
          //height: 71px;
          width: 400px;
        }

        .show-menu {
          display: none;
        }

        ul.menu {
          display: flex;

          justify-content: flex-end;

          //height: 71px;
          margin-right: 10px;
          //margin-top: 0;
          //margin-bottom: 0;
          z-index: 0;

          position: initial;

          //align-items: center;
          li {
            flex-direction: column;
            padding-right: 0;
            padding-left: 16px;


            li ul {
              display: flex;

              margin-top: 180px;

            }

          }

        }
      }

    }

  }
  }
