
.swiper-container {
  display: flex;
//flex-direction:row;
  list-style: none;
  padding: 0;
  //margin: 20px;





  .swiper-wrapper {
    //justify-content:center;
    //flex-direction: row;
    //justify-content:space-between;

    .swiper-slide.unepasse {
      margin: 5px;

      display:flex;
      flex-direction:column;
      justify-content: space-between;
      //align-items: center;

      width: 95%;
      height:500px;

      a {
        text-decoration: none;
      }
    }

  }

}

.unepasse{
  border: $accentdeco solid 2px;
  border-radius:6px;

  display:flex;
  //justify-content: center;
  flex-direction:column;
  align-items: center;


  .prix{
    margin-bottom:20px;
  }
h8{
  display:block;
}
  .btn{
    margin:20px;
  }

}

.lespasses h1{

  text-align:center;
}







@media screen and (min-width: $vw-large) {

  .lespasses{

    .swiper-container {
      display: flex;
      flex-direction: row;
      width: 100%;



      .swiper-wrapper{
        justify-content: space-between;
        flex-wrap:nowrap;
        amrgin:0 auto;
      }

      .swiper-slide.unepasse {

        width: 30%;
        margin:20px;

      }
    }
  }
}
