.media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  //width: 200px;
  //height: 100px;

  .mediasicone div{
    margin:20px;
    height:40px;
    width:40px;
  }
  a {

    justify-content: space-between;
    align-content: center;



    .facebook {

      background-image: url("../images/Facebook.png");
      background-repeat: no-repeat;
      z-index: 50;
    }

    .facebook:hover {
      background-image: url("../images/FacebookB.png");

      background-size: contain;
      background-repeat: no-repeat;


    }

    .twitter {

      background-image: url("../images/Twitter.png");
      background-repeat: no-repeat;
      z-index: 50;
    }

    .twitter:hover {
      background-image: url("../images/TwitterB.png");

      background-size: contain;
      background-repeat: no-repeat;


    }

    .instagram {

      background-image: url("../images/instagram.png");
      background-repeat: no-repeat;
      z-index: 50;
    }

    .instagram:hover {
      background-image: url("../images/InstagramB.png");

      background-size: contain;
      background-repeat: no-repeat;


    }
  }

}

