
.swiper-container {

  display: flex;

  list-style: none;
  padding: 0;
  //margin: 20px 20px;
  //width: 70%;



  .swiper-wrapper {
    justify-content:center;

    .swiper-slide.nosinvites {
      margin: 20px;
      width: 100%;
      //height:228px;

      a {
        text-decoration: none;
      }
    }

  }

}
.nosinvites{
  margin:20px;
}

.uninvite{
  width:228px;
  height:228px;

  h3{
    background-color: $CC2;
    color:$BG;

    position:relative;
    bottom:70px;
    height:40px;
    font-family: $ff-btn;
    text-align:center;
    text-decoration: underline;
    padding:5px;

  }
}

.nosinvites h1{
  text-align:center;
}









@media screen and (min-width: $vw-large) {

  .nosinvites{

    .swiper-container {
      display: flex;
      flex-direction: row;
      width: 100%;



      .swiper-wrapper{
        justify-content: space-between;
        flex-wrap:wrap;
      }

      .swiper-slide {

        width: 20%;
        margin:20px;

      }
    }
  }



}

