.nospartenaires {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
  }

  img {
    margin: 50px;
    width: 75%;
    height: 75%;
  }
}

@media screen and (min-width: $vw-large) {
  .nospartenaires {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;

    img{
      width:20%;
      height:20%;
    }
  }
}