.presentation {
  margin:20px;
  border: $accentdeco solid 2px;
  padding:20px;

  display:flex;
  flex-direction:column;

  text-align:center;
}

.presentation-info{
  display:flex;
  flex-direction:row;

}

.info{
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
}
.coin{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
  .coingauchehaut{
    position:relative;
    left:-30px;
    top:-30px;
    border: $accentdeco solid 2px;
    height:20px;
    width:20px;

  }

  .coindroithaut{
    position:relative;
    right:-30px;
    top:-30px;
    border: $accentdeco solid 2px;
    height:20px;
    width:20px;
  }

.coingauchebas{
  position:relative;
  right:30px;
  bottom:-30px;
  border: $accentdeco solid 2px;
  height:20px;
  width:20px
}
  .coindroitbas{
    position:relative;
    left:30px;
    bottom:-30px;
    border: $accentdeco solid 2px;
    height:20px;
    width:20px;
  }






@media screen and (min-width: $vw-large) {
  h1{
    font-size: rem(112);
  }
p{
  font-size: rem(24);}

  .btn{
    font-size: rem(24);
    height:60px;
  }





  .info{
    h4{
      font-size: rem(60);
    }

    p{
      font-size: rem(24);
    }
  }

}

