
.programmation {
  h1, h2 {
    text-align: center;
  }

  h2 {
    color: $accentdeco;
    font-size: rem(38);
  }


  .deco-programmation {
    margin: 0;
    border-top: 3px $accentdeco solid;
    //border-bottom: 3px $accentdeco solid;
  }

  .deco-programmation2 {
    margin-top: 0;
    margin-bottom: 0;
    border-right: 2px $accentdeco solid;
    border-left: 2px $accentdeco solid;
    //width:90%;
  }


  .lesactivites {
    //margin:0 auto;

    .uneactivite {
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h5 {
        display: inline;
        color: $accentdeco;
      }

      //.puce {
      //  border: 2px $accentdeco solid;
      //  height: 25px;
      //  width: 60px;
      //  transform: rotate(45deg);
      //  position: relative;
      //  right: 33px;
      //  background-color: $BG;
      //
      //}

      .uneactivite-info1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;

        .uneactivite-header {
          display: flex;
          flex-direction: row;

        }


      }

      .uneactivite-info2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        padding-left: 20px;

        .btn {
          align-items: center;
        }
      }


    }
  }
}

.programmation-jour {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: 0 20px;


}

.jour {
  flex-direction: row;
  color: $accentdeco;

  a {
    text-decoration: none;
    color: $accentdeco;
  }
}

.jour:hover {
  text-decoration: underline;

}

.lesactivites {
  .btn {
    height: 16px;
    font-size: rem(10);
    font-family: $ff-title;
    border: 1px $accentdeco solid;
  }

  .uninvite {
    width: 110px;
    height: 110px;

    h3 {
      font-size: rem(12);
      height: 20px;
      bottom: 40px;

    }

    img {
      //width: 80%;
    }
  }


}


@media screen and (min-width: $vw-large) {


  .programmation {
    .jour a {
      font-size: rem(24);
    }
h2{
  font-size: rem(85);
}
    h5 {
      font-size: rem(48);
    }

    p {
      font-size: rem(24);
    }
    .lesactivites {
      div .uninvite {
        width: 250px;
        height: 250px;
      }
      .uninvite h3 {
        height:40px;
        bottom:70px;
        font-size:rem(24) ;
      }
    .btn {
      height: 60px;
      font-size: rem(24);




      }
    }
  }

}


