.single-invite {
  h2 {
    text-align: center;
  }
}

@media screen and (min-width: $vw-large) {
.single-invite{


}
  .presentation-uninvite {
    display:flex;
    flex-direction: row-reverse;
    .swiper-slide {
      margin:0;
      width:50%;
      height:50%;
    }

    .uninvite h3{
      font-size: rem(64);
      height:95px;
    }
  }
  .presentation-uninvite-contenu{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .btn{
      height:rem(60);
      font-size: rem(24);
    }
  }


}