
.uneactivite-info{
  margin:20px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;

  .uneactivite-info2{
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    margin:0 20px;

  }

  h3{
    margin-top:0px;
    margin-bottom:20px;
    color:$accentdeco;
  }
  p{
    margin-top:0px;
    text-align:center;
  }
}







@media screen and (min-width: $vw-large) {
  .single-invite{


  }
  .presentation-uninvite {
    display:flex;
    flex-direction: row-reverse;
    .swiper-slide {
      margin:0;
      width:50%;
      height:50%;
    }

    .uninvite h3{
      font-size: rem(64);
      height:95px;
    }
  }
  .presentation-uninvite-contenu{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .btn{
      height:rem(60);
      font-size: rem(24);
    }
  }


}
