//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes

$fz-normal: rem(16);


/// Grosseur des titres

$fz-h1: rem(38);
$fz-h2: rem(60);
$fz-h3: rem(24);
$fz-h4: rem(22);
$fz-h5: rem(14);
$fz-h6: rem(14);
$fz-h7: rem(26);

$fz-nav: rem(24);
$fz-footer: rem(16);
$fz-btn: rem(24);


/// Hauteur de ligne
$lh-extra-thin: 1;
$lh-thin: 1.2;
$lh-normal: 1.5;
$lh-medium: 1.8;
$lh-large: 2;
$lh-extra-large: 2.4;


/// Font family


$ff-title: 'Limelight', cursive;
$ff-normal: 'Poiret One', cursive;
$ff-othertitle: 'Sacramento', cursive;
$ff-btn: 'Limelight', cursive;



/// Fonts weight
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;




