// LE BODY PERMET D'INITIALISER LES PROPRIÉTÉS GÉNÉRALES DE LA PAGE. LES ÉLÉMENTS DE LA PAGE VONT HÉRITÉS DES PROPRIÉTÉS INSCRITE DANS BODY

body{
  font-family: $ff-normal;
  font-size: $fz-normal;
  color: $txt;
  line-height: $lh-normal;

  background: $gradientdark;
}

.btn{
  font-family: $ff-btn;
  font-size: $fz-btn;
  color:$txt;
  border-radius: 6px;
  border: $accentdeco;
  background-color: $CC1;
  border: $accentdeco solid 5px;
  margin:0 auto;
  text-transform: uppercase;
}


.btn:hover{
  font-family: $ff-btn;
  font-size: $fz-btn;
  border-radius: 6px;

  background-color: $CC2;
  color:$BG;
}