//FICHIER DE CONFIGURATION POUR LES ÉLÉMENTS TITRE DE LA PAGE


h1, h2, h3, h4, h5, h6, h7, h8 {

  line-height: $lh-thin;

}

h1 {
  font-family: $ff-title;
  font-size: $fz-h1;
  background: -webkit-linear-gradient(#FCFAEB, #f1c95a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h2 {
  font-size: $fz-h2;
  font-family: $ff-othertitle;
  color: $accentdeco;

}

h3 {
  font-size: $fz-h3;
  font-family: $ff-othertitle;
}

h4 {
  font-size: $fz-h4;
  font-family: $ff-othertitle;
}

h5 {
  font-size: $fz-h5;
  font-family: $ff-normal;

}

h6 {
  font-size: $fz-h6;
}

h6 {
  font-size: $fz-h7;
  font-family: $ff-othertitle;
  color: $txt;
}

h7 {
  font-size: $fz-h7;
  font-family: $ff-othertitle;
  color: $txt;

}

h8 {
  font-size: $fz-h7;
  font-family: $ff-normal;
  color: $txt;

}
