 STYLE DE BASE DE TOUS LES LIENS ET BOUTON DU SITE

a{
  &:link{
    color: $accentdeco;
    text-decoration: none;
  }

  &:visited{
    color: $accentdeco;
    text-decoration: none;
  }


  &:hover{
    color: $accentdeco;
    text-decoration: underline;
  }

  &:active{
    color: $accentdeco;
    text-decoration: none;
  }

  &:focus{
    color: $accentdeco;
  }
}

 .btn a {
   color:$txt;
   text-decoration: none;

 }

 .btn a:hover{
   color:$BG;
 }